RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^apollomedservices.com [NC]
RewriteRule ^(.*)$ http://www.apollomedservices.com/$1 [L,R=301]
